.block {
    background-color: transparent;
    margin: auto;
    width: 100%;
    color: #e0e0e0;
}

.app-wrapper {
    max-width: 400px;
    margin: 10px auto;
    border: 1px solid #1c4663;
}

.block-title {
    background-color: #254661;
    color: white;
    font-size: 25px;
    padding: 10px;
    font-weight: 100;
}

.block-content {
    padding: 10px;
}

.logo {
    width: 100px;
    padding: 10px 0;
}

button {
    border: none;
}

@media only screen and (max-width: 600px) {
    .app-wrapper {
        max-width: 90%;
    }
  }